
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoNews - Adm Page</title>
    <link rel="shortcut icon" href="../images/conews_logo.png">

    <!-- CSS files -->
    <link rel="stylesheet" href="css/index.css">

    <!-- Scripts (axios, jquery) -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- pages header -->
    <header class="main-header">
        <h1>CoNews - Página de admnistrador</h1>
        <div class="logo">
            <a href="index.html">
                <img src="../images/conews_logo.png" alt="Logo da pagina CoNews">
            </a>
        </div>
        <div id="goto-user">
            <a href="../user/index.html">
                <button>
                    Página de Usuário > 
                </button>
            </a>
        </div>
    </header>
    
    <main id="app">
        <!-- NEWS manager -->
        <div id="app-news" class="category">
            <h1>Gerenciador de Notícias</h1>
            <div class="all-forms">
                <!-- ADD -->
                <div id="form-news" class="form">
                    <h3>Adicionar notícia</h3>
                    <form enctype="multipart/form-data">
                        <h5>Link</h5>
                        <input v-model="link" type="text" placeholder="Digite o link da noticia">

                        <h5>Imagem</h5>
                        <input id="file-img" type="file" name="file"/>
                        
                        <h5>Data</h5>
                        <input v-model="date" type="text" placeholder="dd/mm/aa">
                        
                        <h5>Título da notícia</h5>
                        <input v-model="title" type="text" placeholder="Digite o título da noticia">

                        <h5>Estado</h5>
                        <select v-model="state">
                            <option selected disabled hidden>Selecione um estado</option>
                            <option>AC</option>
                            <option>AL</option>
                            <option>AP</option>
                            <option>AM</option>
                            <option>BA</option>
                            <option>CE</option>
                            <option>DF</option>
                            <option>ES</option>
                            <option>GO</option>
                            <option>MA</option>
                            <option>MT</option>
                            <option>MS</option>
                            <option>MG</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PR</option>
                            <option>PE</option>
                            <option>PI</option>
                            <option>RJ</option>
                            <option>RN</option>
                            <option>RS</option>
                            <option>RO</option>
                            <option>RR</option>
                            <option>SC</option>
                            <option>SP</option>
                            <option>SE</option>
                            <option>TO</option>
                        </select>

                        <div v-if="newsErrors.length">
                            <h5>Os seguintes erros foram encontrados: </h5>
                            <ul style="list-style-type: none;">
                                <li v-for="error in newsErrors" style="color:red;">
                                    <h6> {{ error }} </h6>
                                </li>
                            </ul>
                        </div>
                        <div v-if="newsSuccess">
                            <h6 style="color:rgb(0, 255, 0); 
                            letter-spacing: 3px;
                            font-weight: bold;
                            font-size: 10px;"> 
                                Notícia salva com sucesso! 
                            </h6>
                        </div>
                    
                        <input id="enviar" @click="sendFormNews" type="button" value="Adicionar"></input>
                    </form>
                    
                </div>

                <!-- SEARCH / REMOVE -->
                <div id="get-remove">
                    <!-- REMOVE -->
                    <div id="form-news" class="form">
                        <h3>Remover notícia</h3>
                        <form>
                            <h5>ID da notícia</h5>
                            <input v-model="removeTitle" type="text"
                             placeholder="Digite a ID para remover a notícia">


                            <div v-if="removeErrorFlag === true">
                                <h5>Os seguintes erros foram encontrados: </h5>
                                <ul style="list-style-type: none;
                                 color: rgb(253, 85, 85);
                                 font-weight: 400;">
                                    <li>
                                        <h6> {{ removeErrors }} </h6>
                                    </li>
                                </ul>
                            </div>
                            <div v-if="removeSuccessFlag === true">
                                <ul style="list-style-type: none; color:rgb(102, 255, 102);">
                                    <li>
                                        <h6> {{ removeSuccess }} </h6>
                                    </li>
                                </ul>
                            </div>

                            <input @click="removeNews" type="button"
                             value="Remover" style="background-color:red;color:white">
                            </input>
                        </form>
                    </div>
                    <!-- SEARCH -->
                    <div id="form-news" class="form">
                        <h3>Visualizar notícias</h3>
                        <form >
                            <select v-model="searchNewsState">
                                <option selected>Selecione um estado</option>
                                <option>AC</option>
                                <option>AL</option>
                                <option>AM</option>
                                <option>BA</option>
                                <option>CE</option>
                                <option>DF</option>
                                <option>ES</option>
                                <option>GO</option>
                                <option>MA</option>
                                <option>MT</option>
                                <option>MS</option>
                                <option>MG</option>
                                <option>PA</option>
                                <option>PB</option>
                                <option>PR</option>
                                <option>PE</option>
                                <option>RJ</option>
                                <option>RN</option>
                                <option>RS</option>
                                <option>RO</option>
                                <option>RR</option>
                                <option>SC</option>
                                <option>SP</option>
                                <option>SE</option>
                                <option>TO</option>
                            </select>
                            
                            <div class="search-btns">
                                <!-- GET -->
                                <div class="viewLink">
                                    <a @click="searchNews">
                                    Por estado
                                    </a>
                                </div>
                                <!-- GET ALL -->
                                <div class="viewLink">
                                    <a @click="searchAllNews">
                                    Visualizar tudo
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- HELP manager -->
        <div id="app-help" class="category">
            <h1>Gerenciador de Ajuda</h1>
            <!-- ALL forms -->
            <div class="all-forms">
                <!-- POST form -->
                <div id="form-news" class="form">
                    <h3>Adicionar ajuda</h3>
                    <!-- input -->
                    <form>
                        <h5>Estado</h5>
                        <select v-model="stateHelp">
                            <option selected disabled hidden>Selecione um estado</option>
                            <option>AC</option>
                            <option>AL</option>
                            <option>AP</option>
                            <option>AM</option>
                            <option>BA</option>
                            <option>CE</option>
                            <option>DF</option>
                            <option>ES</option>
                            <option>GO</option>
                            <option>MA</option>
                            <option>MT</option>
                            <option>MS</option>
                            <option>MG</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PR</option>
                            <option>PE</option>
                            <option>PI</option>
                            <option>RJ</option>
                            <option>RN</option>
                            <option>RS</option>
                            <option>RO</option>
                            <option>RR</option>
                            <option>SC</option>
                            <option>SP</option>
                            <option>SE</option>
                            <option>TO</option>
                        </select>

                        <h5>Link</h5>
                        <input v-model="helpLink" type="text" placeholder="Digite o link">

                        <h5>Telefone</h5>
                        <input v-model="phoneNumber" type="text" placeholder="(DDD) 3333-3333">

                        <h5>Nome do posto de saúde</h5>
                        <input v-model="helpName" type="text" placeholder="Digite o nome do posto de saúde">           

                        <div v-if="helpErrors.length">
                            <h5>Os seguintes erros foram encontrados: </h5>
                            <ul style="list-style-type: none;">
                                <li v-for="error in helpErrors" style="color:red;">
                                    <h6> {{ error }} </h6>
                                </li>
                            </ul>
                        </div>
                        <div v-if="helpSuccess">
                            <h6 style="color:rgb(0, 255, 0); 
                            letter-spacing: 3px;
                            font-weight: bold;
                            font-size: 10px;"> 
                                Posto de saúde salvo com sucesso! 
                            </h6>
                        </div>

                        <input id="enviar" @click="sendFormHelp" type="button" value="Adicionar"></input>
                    </form>
                </div>

                <!-- DELETE and GET form -->
                <div id="get-remove">
                    <!-- DELETE -->
                    <div id="form-news" class="form">
                        <h3>Remover ajuda</h3>
                        <form>
                            <h5>Estado</h5>
                            <select v-model="removeHelpState">
                                <option selected>Selecione um estado</option>
                                <option>AC</option>
                                <option>AL</option>
                                <option>AM</option>
                                <option>BA</option>
                                <option>CE</option>
                                <option>DF</option>
                                <option>ES</option>
                                <option>GO</option>
                                <option>MA</option>
                                <option>MT</option>
                                <option>MS</option>
                                <option>MG</option>
                                <option>PA</option>
                                <option>PB</option>
                                <option>PR</option>
                                <option>PE</option>
                                <option>RJ</option>
                                <option>RN</option>
                                <option>RS</option>
                                <option>RO</option>
                                <option>RR</option>
                                <option>SC</option>
                                <option>SP</option>
                                <option>SE</option>
                                <option>TO</option>
                            </select>

                            <div v-if="removeErrorFlag === true">
                                <h5>Os seguintes erros foram encontrados: </h5>
                                <ul style="list-style-type: none;
                                 color: rgb(253, 85, 85);
                                 font-weight: 400;">
                                    <li>
                                        <h6> {{ removeErrors }} </h6>
                                    </li>
                                </ul>
                            </div>
                            <div v-if="removeSuccessFlag === true">
                                <ul style="list-style-type: none; color:rgb(102, 255, 102);">
                                    <li>
                                        <h6> {{ removeSuccess }} </h6>
                                    </li>
                                </ul>
                            </div>

                            <input @click="removeHelp" type="button" value="Remover" style="background-color:red;color:white"></input>
                        </form>
                    </div>

                    <!-- GET -->
                    <div id="form-news" class="form">
                        <h3>Visualizar Ajuda</h3>
                        <form>
                        <div class="search-btns">
                            <!-- GET all -->
                            <div class="viewLink" style="position: relative; left:70px;">
                                <a @click="searchAllHelp">Visualizar tudo</a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue" defer></script>
    <script src="src/news-admin.js" defer></script>
    <script src="src/help-admin.js" defer></script>
</body>
</html>