.display-help {
    display: grid;
    height: 300px;
    width: 100%;
    text-align: center;
}


.help-info {
    background-color: white;
    border-radius: 10px;
    margin: 0px 350px;
    border: 1px solid rgb(190, 190, 190);
    padding: 40px;
}

.help-info h1 {
    font-size: 25px;
}
.help-info h2 {
    font-size: 18px;
    margin: 10px 0px;
}

.help-info h3 {
    padding: 10px;
    border: 1px solid black;
    margin: 5px 50px;
    border-radius: 10px;
    min-width: 376px;
    font-weight: 400;
}