#app {
    text-align: center;
}

.display-help {
    display: grid;
    height: 300px;
    width: 100%;
    text-align: center;
}


.help-info {
    background-color: white;
    border-radius: 10px;
    margin: 40px 100px;
    border: 1px solid black;
    padding: 40px;
}

.help-info h1 {
    font-size: 25px;
}
.help-info h2 {
    font-size: 18px;
    margin: 10px 0px;
}

.help-info h3 {
    padding: 10px;
    border: 1px solid black;
    margin: 5px 50px;
    border-radius: 10px;
    min-width: 376px;
    font-weight: 400;
}

.help-info h3 a {
    color: rgb(0, 89, 255);
}

.help-info h3 a:hover {
    text-decoration: underline;
}